In [ ]:
#1. Write a code to create a string with your name and print it
name="Riya"
print(name)

Riya

In [ ]:
#2. Write a code to find the length of the string "Hello World"
string="Hello World"
len(string)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string="Python Programming"
string[:3]

'Pyt'

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
a="hello"
a.upper()

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence="I like apple"
sentence.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
li=['a','b','c','d']
li[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
li=[10,20,30,40,50]
li.reverse()
print(li)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup=('red', 'green', 'blue', 'yellow')
tup[1:]

('green', 'blue', 'yellow')

In [ ]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10,20,5,15)
minimum_value=min(tup)
print(minimum_value)

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup=('dog','cat','rabbit')
tup.index('cat')

1

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('apple','mango','banana','kiwi')
if'kiwi' in fruits:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters={'a','b','c'}
print(letters)

{'a', 'b', 'c'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
my_set1={1,2,3}
my_set2={3,4,5}
print(my_set1 | my_set2)

{1, 2, 3, 4, 5}

In [ ]:
#20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
print(set1 & set2)

{2, 3}

In [ ]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict={"name":"Riya","age":21,"city":"Noida"}
print(my_dict)

{'name': 'Riya', 'age': 21, 'city': 'Noida'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict={'name': 'John', 'age': 25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict={'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict={'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("YES")
else:
  print("NO")

YES

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=["Riya","Raman","Somya"]
my_tup=("Riya","Raman","Somya")
my_dict={"grade":"A+","city":"delhi"}
print(my_list,my_dict,my_tup)

['Riya', 'Raman', 'Somya'] {'grade': 'A+', 'city': 'delhi'} ('Riya', 'Raman', 'Somya')

In [ ]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
my_list=[23,56,35,89,42]
my_list.sort()
print(my_list)

[23, 35, 42, 56, 89]

In [ ]:
#28  Write a code to create a list with strings and print the element at the third index
my_list=["Riya","Somya","Raman","Muskan","shubh"]
my_list[3]

'Muskan'

In [ ]:
#29  Write a code to combine two dictionaries into one and print the result
my_dict1={"name":"Riya", "age":21}
my_dict2={"occupation":"Senior Data Analyst","Company":"Google"}
my_dict1|my_dict2

{'name': 'Riya',
 'age': 21,
 'occupation': 'Senior Data Analyst',
 'Company': 'Google'}

In [ ]:
#30  Write a code to convert a list of strings into a set.
my_list=["Amazon","Google","Microsoft"]
set(my_list)

{'Amazon', 'Google', 'Microsoft'}

1. What are data structures, and why are they important?
Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are important because they help in efficient data management, problem-solving, and performance optimization in programming.

2. Explain the difference between mutable and immutable data types with examples.
Mutable: Can be changed after creation.

Example: list, dict, set

my_list = [1, 2, 3]; my_list[0] = 10 → list is changed.

Immutable: Cannot be changed after creation.

Example: int, float, tuple, str

my_str = "hello"; my_str[0] = "H" → error.

3.  What are the main differences between lists and tuples in Python?
Feature	List	Tuple
Mutable	Yes	No
Syntax	[1, 2, 3]	(1, 2, 3)
Use case	When data needs to change	When data should stay fixed

4.  Describe how dictionaries store data.
Dictionaries store data in key-value pairs. Each value is accessed using a unique key. Under the hood, Python uses hash tables to manage keys for fast lookup.

5. Why might you use a set instead of a list in Python?
Sets automatically remove duplicates.

Sets offer faster lookup (average O(1) time).

Use a set when you need unique elements only.

6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters, while a list is a sequence of elements that can be of any type.

Strings are immutable, lists are mutable.

Example: "hello" vs. ["h", "e", "l", "l", "o"]

7. How do tuples ensure data integrity in Python?
Tuples are immutable, meaning once created, they can't be changed. This ensures the data inside a tuple remains constant and protected from modification.

8.  What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Python's dict is implemented using a hash table to allow fast key-based access.

9. Can lists contain different data types in Python?
Yes! Python lists are heterogeneous, so they can hold elements of different data types:
Example: [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
Strings are immutable to:

Improve performance (especially in memory management).

Ensure thread safety in multi-threaded applications.

Allow hashing for use as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
Fast lookups by key (O(1) time).

More semantic meaning (e.g., 'name': 'Riya').

Avoids searching through indexes like in lists.

12. Describe a scenario where using a tuple would be preferable over a list.
Use a tuple to represent coordinates (e.g., (x, y)) or fixed configuration settings that should not change during program execution.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates.
Example: set([1, 2, 2, 3]) → {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
For lists: checks if a value is in the list.

For dictionaries: checks if a key exists, not the value.
3 in [1, 2, 3]           # True
'age' in {'age': 25}     # True
25 in {'age': 25}        # False

15.  Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable. You can't change, add, or remove elements after creation. This is intentional for data protection and consistency.

16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary where values are also dictionaries.
Use case: Representing structured data like a student's record.
student = {
    "name": "Riya",
    "grades": {
        "math": 95,
        "science": 90
    }
}


17. Describe the time complexity of accessing elements in a dictionary.
Average case: O(1)

Worst case (rare): O(n), due to hash collisions.

18.  In what situations are lists preferred over dictionaries?
When order matters (before Python 3.7, dicts were unordered).

When you need to access items by position/index.

When working with sequences of items without key-value pairs.

19.   Why are dictionaries considered unordered, and how does that affect data retrieval?
Before Python 3.7, dictionaries were unordered — meaning the insertion order of keys was not preserved. Now in modern Python, they preserve order, but it's still best not to rely on that behavior unless necessary. Retrieval is based on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
List: Retrieve by index → my_list[0]

Dict: Retrieve by key → my_dict['name']
Dictionaries are faster for lookups by meaningful labels.